.hero-section {
    background: #2e2f42;
    padding: 188px 0;
}

.hero-title {
max-width: 496px;
margin: 0 auto 48px;
font-weight: 700;
font-size: 56px;
/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
display: block;
padding: 16px 32px;
margin: 0 auto;
border: none;
border-radius: 4px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}